@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --main-blue: #18a3ff;
    --bg-color: #f5f5f5;
    --border: #ccc;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

h2 { color: var(--main-blue); margin-bottom: 26px; }
a { text-decoration: none; color: var(--main-blue); }

.auth-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 50px;
}

.form-field-group {
    display: flex;
    justify-content: space-between;
}

div.form-field-group .form-field {
    position: relative;
    width: 48%;
}

label {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

label.password a {
    font-weight: normal;
    float: right;
    position: relative;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 16px 0;

    font-family: inherit;
    font-size: .9em;
    font-weight: 400;
    
    background-color: #f5f5f5;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 4px;

    transition: border 200ms;
}

input::placeholder {
    color: #bbb;
    opacity: 1;
}

input:hover {
    border: 2px solid var(--border);
}

input:focus {
    outline: none !important;
    border: 2px solid var(--main-blue);
    background-color: #fff;
    box-shadow: 0 0 8px rgba(85, 183, 248, .2);
}

.form-sub {
    width: 100%;
    padding: 14px 20px;
    margin: 22px 0;
    cursor: pointer;

    color: white;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;

    background-color: var(--main-blue);
    border: none;
    border-radius: 4px;
}

.form-sub:hover {
    opacity: 0.8;
}

.create_acc {
    text-align: center;
}