:root {
    --margin-base: 16px;

    /* Colors */
    --main-blue: #18a3ff;
    --light-blue: #81d1ff;
    --bg-primay: #f5f5f5;
    --light-grey: #f2f2f1;
    --dark-grey: #e5e5e4;
    --placeholder: #adadad;

    --shadow-color: rgba(2, 8, 20, 0.1);
    --border-color: #ccc;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-primay);

    /* Grid */
    display: grid;
    height: 100vh;

    grid-template-areas: 
        "topbar   topbar    topbar"
        "stats    content   sidebar"
        "footer   footer    footer";

    gap: 16px 50px;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 57px auto 50px;
}

input::placeholder {
    color: var(--placeholder);
    opacity: 1;
}

input, textarea, button {
    font-family: inherit;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--main-blue)
}

[class ~= "button"] {
    background-color: var(--light-grey);
}

[class ~= "button"] {
    background-color: var(--dark-grey);
}

/* Header */

header {
    grid-area: topbar;

    display: flex;
    padding: 0 var(--margin-base);
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    box-shadow: 0 0.15em 0.5em var(--shadow-color);
}

.logo {
    color: var(--main-blue);
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.search-container {
    font-size: 0;
}

.search-input {
    max-width: 220px;
    padding: 6px 16px;
    margin-right: 2px;
    font-size: 17px;
    border: 2px solid transparent;
    font-weight: 400;
    background-color: var(--light-grey);
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
    
    transition: border .2s ease-out;
}

.search-input:hover {
    border: 2px solid var(--border-color);
}

.search-input:focus {
    border: 2px solid var(--main-blue);
    background-color: #fff;
}

.search-button {
    padding: 8px;
    font-size: 17px;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.user-button {
    height: 37px;
    width: 37px;
    font-size: 17px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    width: 6rem;
    opacity: 0;
    z-index: 2;
    background-color: #fff;
    border-radius: 4px;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;

    height: 3.5rem;
    margin-top: 4px;
    padding: 0.5rem;

    box-shadow: 0 0.175em 0.5em var(--shadow-color);
    transform: translateX(-70%);
    
    transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* Main */

main {
    grid-area: content;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    background-color: #fff;
    /* font-size: 3rem; */
    color: #000;
    box-shadow: 0px 0.15rem 0.5rem var(--shadow-color);
    width: 100%;
    max-width: 600px;
    border-radius: 4px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.message-input {
    width: 100%;
    min-height: 60px;
    resize: vertical;
    padding: 8px 16px;
    
    font-family: inherit;
    font-size: 17px;
    font-weight: 400;

    background-color: transparent;
    box-sizing: border-box;
    border: none;

}

.message-input::placeholder {
    color: #bbb;
    opacity: 1;
}

.msg-sub {
    width: 100%;
    padding: 7px 16px;
    cursor: pointer;

    background-color: var(--main-blue);
    border: none;
    border-radius: 4px;

    color: white;
    font-size: 15px;
    font-weight: 600;
}

.msg-sub:hover {
    opacity: 0.8;
}

aside {
    grid-area: stats;
    display: grid;
    justify-content: center;
    align-content: center;
}

nav {
    grid-area: sidebar;
    display: grid;
    justify-content: center;
    align-content: center;
}

footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
    align-content: center;
}