.form-card {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

.form-title {
    margin: 0 0 1.5rem 0;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr-primary-400);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
}

.form-group-inline .form-group  {
    width: 48%;
}

.form-label {
    display: flex;
    font-size: 1em;
    font-weight: 500;
}

.forgot-pwd-link {
    margin-left: auto;
}

.form-button {
    width: 100%;
    margin: 1.625rem 0 2rem 0;

    font-weight: 600;
}

.form-router {
    width: 100%;
    margin: 0;
    text-align: center;
}