.new-msg-container {
  padding: 1rem;
}

.new-msg-container form {
  display: flex;
  flex-direction: column;
}

.msg-input {
  outline: none;
  background: none;
  border: none;
  resize: none;
  padding: .75rem 0;
  
  color: var(--clr-txt-400);
  font-size: 1.25rem;
  font-weight: 500;
}

.msg-form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: .75rem;
}

.msg-form-btn {
  padding: 1em 1.875em !important;
}

.limiter {
  transition: 150ms ease-out;
}

.safe {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.exceeded {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.6875rem;
}

.limiter-inside-text {
  font-size: .675rem;
  margin-top: -.625rem;
}