.msg-card {
  padding: .75rem 1rem;
  border-bottom: var(--border);
}

.msg-author {
  font-weight: 700;
}

.msg-timestamp {
  color: var(--clr-txt-500);
}

.msg-timestamp::before {
  content: " · ";
  font-weight: 500;
}

.msg-body {
  white-space: pre-wrap;
}

.msg-footer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}