.navbar {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  position: sticky;
  top: 0px;
  width: 275px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-txt-400);
  font-size: 1.25rem;
  font-weight: 700;

  border-radius: 1.75rem;
  padding: .75rem;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: var(--speed);
}

.nav-link:hover {
  color: var(--clr-primary-400);
  background-color: var(--clr-primary-800);
}

.active {
  color: var(--clr-primary-400);
}

.nav-link svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--clr-txt-400);
  stroke-width: 2px;
  transition: var(--speed);
}

.nav-link:hover svg, .active svg {
  stroke: var(--clr-primary-400);
}

/* gestion du logo */

.logo {
  padding: .5rem !important;
}

.logo svg {
  width: 2rem !important;
  height: 2rem !important;
}