/* GRID container */
main {
  height: 100%;
  display: grid;
  grid-template-areas:
    "topbar  topbar   topbar"
    "nav     content  sidebar";

  grid-template-columns: 4fr minmax(auto, 600px) 5fr;
  grid-template-rows: 3.5rem auto;
}

/* GRID Items */
header {
  grid-area: topbar;
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: var(--clr-bg-400);
  border-bottom: var(--border);
}

.navbar {
  grid-area: nav;
}

.content {
  grid-area: content;
  border-left: 1px solid var(--clr-border);
  border-right: 1px solid var(--clr-border);
}

.home-spacer {
  height: .5rem;
  background-color: var(--clr-border);
}

.sidebar {
  grid-area: sidebar;
}

.profile {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}