@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

:root {
  /* Colors */
  --clr-primary-400: hsl(174, 77%, 47%);
  --clr-primary-500: hsl(174, 67%, 42%);
  --clr-primary-600: hsl(174, 60%, 32%);
  --clr-primary-800: hsl(180, 22%, 18%);

  --clr-red-400: hsl(341, 75%, 51%);
  --clr-orange-400: hsl(38, 100%, 56%);

  --clr-bg-200: hsl(185, 15%, 25%);
  --clr-bg-300: hsl(185, 15%, 20%);
  --clr-bg-400: hsl(185, 15%, 17%);
  --clr-bg-500: hsl(185, 15%, 14%);
  --clr-bg-600: hsl(185, 15%, 10%);

  --clr-txt-400: hsl(0, 0%, 100%);
  --clr-txt-500: hsl(185, 5%, 44%);

  --clr-border: hsl(206, 16%, 26%);

  /* Typography */
  --ff-primary: 'Montserrat', sans-serif;

  /* Misc */
  --header-size: 3.5rem;

  --border: 1px solid var(--clr-border);
  --border-radius: .25rem;
  --speed: 200ms;
}

/* empecher la scrollbar de prendre trop de place */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  margin: 0;
  background-color: var(--clr-bg-400);
  font-family: var(--ff-primary);
  color: var(--clr-txt-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevents user from selecting text */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

::-moz-selection {
  color: var(--clr-txt-400);
  background: var(--clr-primary-400);
}

::selection {
  color: var(--clr-txt-400);
  background: var(--clr-primary-400);
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: var(--clr-bg-500);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-bg-200);
  border-radius: 10px;
}

.app-container {
  height: 100vh;
}

/* BASIC COMPONENTS */

::placeholder {
  color: var(--clr-txt-500);
}

input, textarea, button {
  font-family: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

article:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.025);
}

/* LINKS */

.link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;

  font-family: var(--ff-primary);
  color: var(--clr-primary-400);
}

.link:hover {
  filter: brightness(.8);
}

/* BUTTONS */

.btn-primary {
  max-width: 400px;
  padding: .8em;

  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;

  background-color: var(--clr-primary-400);
  border: none;
  border-radius: var(--border-radius);
  transition: background var(--speed) ease-in;
}

.btn-primary:hover:not([disabled]) {
  background-color: var(--clr-primary-500);
  cursor: pointer;
}

.btn-primary:disabled {
  filter: brightness(.8);
}

/* CUSTOM INPUTS */

.input {
  padding: .875rem 1.375rem;
  margin: .5rem 0 1rem 0;

  font-size: .95rem;
  font-weight: 400;
  color: var(--clr-txt-400);

  background-color: var(--clr-bg-300);
  box-sizing: border-box;
  border-radius: .25rem;
  border: .125rem solid transparent;

  transition: border 200ms;
}

.input:hover {
  border-color: var(--clr-border);
}

.input:focus-within {
  outline: none !important;
  border-color: var(--clr-primary-400);
  background-color: var(--clr-bg-400);
  box-shadow: 0 0 8px hsla(204, 92%, 65%, 0.2);
}